/*css file for r markdown*/

/*body*/
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

/*# text*/
h1, h2, h3, h4 {
  color:#4F81B5;
}

/*non-# text*/
p {
  color:#383D3B;
}

.title, .subtitle{
  text-align:center;
}

.date{
  color:#6AB0FA;
  text-align:center;
}

.author{
  font-style:italic;
  color:#6AB0FA;
  text-align:center;
}

/*code chunk text*/
.r{
  color: #0991DE;
  font-variant:normal;
  background-color:#FAFAFA;
  border-radius: 15px;
}

/*Function syntax*/
.hljs-keyword{
  color: #0991DE;
  font-style:italic;
}

a {
  text-decoration:underline;
}
